.illust {
  width: 30%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 35rem) {
  .illust {
    width: 60%;
  }
}

.questionContainer {
  text-align: center;  
}

.questionSub{
  border: 3px dashed rgba(0, 0, 0, 0.38);
  border-radius: 4px;
}