# dependencies
node_modules/
package-lock.json

# env
.env.development
.env.production

# assets
public/images/*
!public/images/illust*.png
!public/images/spinner.gif

# development
.vscode/

# production
build/