.buttonContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer Button {
  color: inherit;
}

.gridItem {
  font-family: 'Do Hyeon', sans-serif;
  background-color: inherit;
  box-shadow: var(--box-shadow);
}