.illust{
  width: 30%;
  margin: 0 auto;
  display: block;  
}

@media (max-width: 35rem) {
  .illust {
    width: 60%;
  }
}

.questionContainer{
  background-color: #efefef;
  text-align: center;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
}

.step{
  color: inherit;
}

.buttonContainer Button{
  color: inherit;
}