@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html {
  font-size: 16px;
  font-family: 'Do Hyeon', sans-serif;
  --primary-color: #FBCE7B;
  --accent-color: #8D5AC4;
  --shadow-color: #FBFADD;
  --box-shadow: 1px 1px 2px #FBCE7B,
    -1px -1px 2px #FBCE7B;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--shadow-color);
}

.MuiInput-root,
.MuiInputBase-root,
.MuiInputLabel-root,
.MuiTypography-root,
.MuiListSubheader-root,
.react-horizontal-scrolling-menu--item {
  font-family: inherit;
}

.MuiButton-root,
.MuiInputLabel-root.Mui-focused {
  color: inherit;
}

.MuiInput-root:after {
  border-bottom: 2px solid #444;
}

.MuiCheckbox-root.Mui-checked {
  color: var(--primary-color);
}

.MuiPaper-root,
.MuiListSubheader-root {
  background-color: inherit;
}

.MuiListSubheader-root {
  box-shadow: var(--box-shadow);
}